.label {
    -fx-background-color:   -light-yellow;
    -fx-text-fill:          -brown;
    -fx-font:               14px -main-font;
    -fx-background-radius:  1em 1em 0 1em;
}

.reply-label {
    -fx-background-color:   -green;
    -fx-text-fill:          white;
    -fx-background-radius:  1em 1em 1em 0;
}

.circular-pfp {
    -fx-background-color:   transparent;
    -fx-border-color:       -green;
    /*-fx-padding:            0; /* space for border */
    -fx-border-width:        4;
    -fx-border-radius:      40; /* half of image size */
    -fx-effect:             dropshadow(gaussian, rgba(0, 0, 0, 0.2), 15, 0.5, 0, 5);
}

#displayPicture {
    /* Shadow effect on image. */
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 10, 0.5, 5, 5);
}

